@model Tactsoft.Core.Entities.LanguageProficiency
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h4 class="m-0">@ViewData["Title"]</h4>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Dashboard">Dashboard</a></li>
                        <li class="breadcrumb-item active">@ViewData["Title"]</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Add New Language Proficiency</h3>
                </div>
                <form asp-action="Create" enctype="multipart/form-data">
                    <div class="card-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row mt-2">
                            <div class="col-md-6">
                                <div class="row mb-2">
                                    <label asp-for="LanguageName" class="col-md-3 col-form-label"></label>
                                    <div class="col-md-9">
                                        <input asp-for="LanguageName" class="form-control" />
                                        <span asp-validation-for="LanguageName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <label asp-for="ReadingId" class="col-md-3 col-form-label"></label>
                                    <div class="col-md-9">
                                        <select asp-for="ReadingId" class="form-control" asp-items="@(ViewBag.ReadingId)">
                                            <option value="">Select Reading</option>
                                        </select>
                                        <span asp-validation-for="ReadingId" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <label asp-for="SpeakingId" class="col-md-3 col-form-label"></label>
                                    <div class="col-md-9">
                                        <select asp-for="SpeakingId" class="form-control" asp-items="@(ViewBag.SpeakingId)">
                                            <option value="">Select Speaking</option>
                                        </select>
                                        <span asp-validation-for="SpeakingId" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <label asp-for="WritingId" class="col-md-3 col-form-label"></label>
                                    <div class="col-md-9">
                                        <select asp-for="WritingId" class="form-control" asp-items="@(ViewBag.WritingId)">
                                            <option value="">Select Writing</option>
                                        </select>
                                        <span asp-validation-for="WritingId" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div style="text-align:end">
                            <a class="btn btn-outline-danger btn-sm" asp-action="Index">
                                <i class="far fa-window-close"></i> Cancel
                            </a>
                            <button type="submit" value="Create" class="btn btn-outline-primary btn-sm">
                                <i class="far fa-save"></i> Save
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }