@model Tactsoft.Core.Entities.CareerAndApplicationInfo

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h4 class="m-0">Academic Summary Update Form</h4>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Dashboard">Dashboard</a></li>
                        <li class="breadcrumb-item active">@ViewData["Title"]</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title text-center">Academic Summary info</h3>
                </div>
                <form asp-action="Edit" enctype="multipart/form-data">
                    <div class="card-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />

                        <div class="row mt-2">
                            <div class="col-md-6">

                                <div class="row mb-2">
                                    <label class="col-md-3 col-form-label">Objective</label>
                                    <div class="col-md-9">
                                        <input rows="4" asp-for="Objective" class="form-control" />
                                        <span asp-validation-for="Objective" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <label class="col-md-3 col-form-label">Looking for (Job Level)</label>
                                    <div class="col-md-9 pt-2">
                                        <label class="radio-inline mx-2">
                                            @Html.RadioButtonFor(model => model.JobLevel, "Entry Level", htmlAttributes: new { @class = "form-check-input" }) Entry Level
                                        </label>
                                        <label class="radio-inline mx-2">
                                            @Html.RadioButtonFor(model => model.JobLevel, "Mid Level", htmlAttributes: new { @class = "form-check-input" }) Mid Level
                                        </label>
                                        <label class="radio-inline mx-2">
                                            @Html.RadioButtonFor(model => model.JobLevel, "Other", htmlAttributes: new { @class = "form-check-input" }) Top Level
                                        </label>
                                        <br />
                                        <span asp-validation-for="JobLevel" class="text-danger"></span>
                                    </div>
                                </div>



                                <div class="row mb-2">
                                    <label class="col-md-3 col-form-label">Present Salary</label>
                                    <div class="col-md-9">
                                        <input rows="4" asp-for="PresentSalary" class="form-control" />
                                        <span asp-validation-for="PresentSalary" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <label class="col-md-3 col-form-label">Expected Salary</label>
                                    <div class="col-md-9">
                                        <input rows="4" asp-for="ExpectedSalary" class="form-control" />
                                        <span asp-validation-for="ExpectedSalary" class="text-danger"></span>
                                    </div>
                                </div>


                                <div class="row mb-2">
                                    <label class="col-md-3 col-form-label">Available for (Job Nature)</label>
                                    <div class="col-md-9 pt-2">
                                        <label class="radio-inline mx-2">
                                            @Html.RadioButtonFor(model => model.JobNature, "Full time", htmlAttributes: new { @class = "form-check-input" }) Full time
                                        </label>
                                        <label class="radio-inline mx-2">
                                            @Html.RadioButtonFor(model => model.JobNature, "Part time", htmlAttributes: new { @class = "form-check-input" }) Part time
                                        </label>
                                        <label class="radio-inline mx-2">
                                            @Html.RadioButtonFor(model => model.JobNature, "Contract", htmlAttributes: new { @class = "form-check-input" }) Contract
                                        </label>
                                        <label class="radio-inline mx-2">
                                            @Html.RadioButtonFor(model => model.JobNature, "Internship", htmlAttributes: new { @class = "form-check-input" }) Internship
                                        </label>
                                        <label class="radio-inline mx-2">
                                            @Html.RadioButtonFor(model => model.JobNature, "Freelance", htmlAttributes: new { @class = "form-check-input" }) Freelance
                                        </label>
                                        <br />
                                        <span asp-validation-for="JobNature" class="text-danger"></span>
                                    </div>
                                </div>




                            </div>
                        </div>
                    </div>

                    <div class="card-footer">
                        <div style="text-align:end">
                            <a class="btn btn-outline-danger btn-sm" asp-action="Index">
                                <i class="far fa-window-close"></i> Cancel
                            </a>
                            <button type="submit" value="Create" class="btn btn-outline-primary btn-sm">
                                <i class="far fa-save"></i> Update
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
